@model IEnumerable<ZeroHunger.DB.Dashboard>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Collect_Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Collect_Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Assign a employee for collect", "EmployeeNew", new { id=item.Id }) |

        </td>
    </tr>
}

</table>
